.body{
    width:100%;
}
.mynav{
    
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10px;
    width:80%;
}
.mynav .bg-body-tertiary{
    font-size: 14px;
}
.my1{
    padding-left: 150px;
}

.myselect{
    border:none;
    
    
}
.search{
    padding-left: 0px;
    position:relative;
    left:-50px;
    width:100px;
}
.mybutton button{
    border-radius:15px;
    width:25px;
    height:25px;
    border-color: azure;
}
.mybutton .colorbut1{
    border-radius:15px;
    width:25px;
    height:25px;
    border-color: black;
    background-color: white;
}
.mybutton .colorbut2{

    border-radius:15px;
    width:25px;
    height:25px;
    border-color:whitesmoke;
    background-color: black;
    color: aliceblue;
}
.nav-item{

    display: flex;
    justify-content: space-around;
}

/* branch */
.dmenu{
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    width:100%;
    height:500px;
    /* border: 5px solid black; */
}
.table-row th{
    
    padding-left:40px;
    padding-right:40px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.table-row td{

    padding-left:40px;
    padding-right:40px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.table-row1 th{
    
    padding-left:25px;
    padding-right:25px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.table-row1 td{

    padding-left:25px;
    padding-right:25px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.dropdown-menu{

    width:1000%;
    height:530px;
    border:none;

    
}



/* branch */

.navitem2{
    position:relative;
    left:-200px;
}
.navitem3{
    position:relative;
    left:-400px;
}
.navitem4{

    position:relative;
    left:-600px;
}
.btn-lg{
    position:absolute;
    left:800px;
}
.combank{
    position:absolute;
    left:1030px;
}
.combank img{
    width:70%;
    height:50px;
}
.mynav .for-z{
   position:absolute;
    z-index:100;
}

.mycarousil{
    position:relative;
}
.fixedbut1{
    position:absolute;
    left:1330px;
    top:500px;
    z-index: 100;
    width:150px;
    color:aliceblue;
    background-color: yellow;
}
.d-none h1{
    color:black;
    text-shadow: gray;
    text-decoration: solid;

}
.d-none p{
    color:blueviolet;
    font-size: 30px;;
}
.carousel-item{
    height:500px;
}
.fixed-button2{
    border-radius: 30px;
    height:50px;
    width:50px;
    background-color: red;
    position:fixed;
    top:180px;
    left:1400px;
}
i .fixed-button2{
    width:90px;
}
.fixedimg{

    width:180px;
    height:100px;
    position:fixed;
    left:1350px;
    top:600px;
}

.container{
    height:100px;
    background-color: azure;
    margin-top: 30px;
}
.icon{
    width:30px;
    height:30px;
    padding-top: 9px;
}
.col:hover{
    color: blue;
    cursor: pointer;
}
.drodown1{
    width:20%;
    height: 170px;
}
.center-item{
    margin-top: 60px;
    padding: 10px;
}
.center-item .btn{
position:relative;
top:-45px;
left:870px;
}

.container2{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color:white;
}

.item{
    height:150px;
    width:210px;
    margin:10px;
    padding: 20px;
    border:1px solid black;
    border-radius: 10px;
    background-color:whitesmoke;
    color:black;
    text-align:center;
    font-size: 20px;

}
.item:hover{
    background-color: blue;
    color:white;
}

.flex-center{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container3{
    width:80%;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 20px;
    height:370px;
    background-color:white;
}
.container3 .content{
    padding:20px;
    width:60%;
    height:370px;
    background-color: white;
}
.card-body .but2{

    width:190px;
    height:40px;
    margin-right:35px;
    margin-top:35px ;
    border-radius: 20px;
    padding:10px;
    background-color: antiquewhite;
}

.card-body .but3{

    width:190px;
    height:35px;
    border-radius: 20px;
    background-color: yellowgreen;
}
.img5{
    position:absolute;
    left:1000px;
    height:500px;
    top:1300px;
  
}
.container4{
    width:100%;
    height:160px;
    position: relative;
    color:white;
    background-color: blue;
    top:150px;
    z-index: -1;
    text-align: center;
}
.flex-center2{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item1{

    width:20%;
    height:60px;
    
    background-color:blue;
    margin-top:20px;
    margin-left: 10px;
}
.item1-but{
    width:100%;
    height:50px;
    color: black;
    background-color: white;
    border-radius: 60px;
    border-color:blue;
    
}
.container5{
    width:100%;
    height:560px;
    position: relative;
    
    background-color: white;
    top:250px;
    z-index: -1;
    text-align: center;
   
}

.cars-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    
}

.item3-11{
    margin-top: 10px;
    margin-left: 60px;
    
}

.item3-11 .card-title{
    position: absolute;
    bottom: 40px;
    background-color: white;

}
.item3-11 .card-text{
    position: absolute;
    bottom:1px;
}
.item3-11:hover{
    cursor: pointer;
    
}
.but2{
    margin-top: 20px;
    border-radius: 60px;
    width:170px;
    height:60px;
    padding: 17px;
    background-color: yellow;
}
.but2:hover{
    background-color: red;
}

.bottom-car{
    position:relative;
    top:500px;
    z-index: -2;
}

.btmtxt{
    text-align: center;
}

.btmdiv{
    width:60%;
    margin-left: 20%;
    margin-right: 20;
    height:900px;
    background-color: white;
    position:relative;
    text-align: center;
    background-image:url(/assests/smrt\ phn2.jpeg) ;
    background-repeat: no-repeat;
    background-position: 0px 150px;
    background-size: 400px 600px;
}

.btmdiv .card{
    position: absolute;
    left:600px;
    top:150px;
}
.col img{
    width:150%;
}
.btndiv-btn{
    position: absolute;
    top:800px;
    width: 170px;
    height:50px;
    border-radius: 60px;
    border-color: white;
    background-color: rgb(232, 232, 83);
    left:370px;
}
.btndiv-btn:hover{
    background-color: blanchedalmond;
}

.btm-container{
    margin-left: 10%;
    margin-right: 10%;
}

.btm-flex{

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.item3{
    width:300px;
    height:100px;
    justify-content:flex-start;
    background-color: white;
    position: relative;
    margin:20px;
   
}

.item3-1{
    background-image: url(/assests/comlogo.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.item3-2{
    background-image: url(/assests/combnk-dig.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.item3-3{
    background-image: url(/assests/com-flash.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.item3-4{
    background-image: url(/assests/q+.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.item3-5{
    background-image: url(/assests/eslip.jpeg);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.item3-6{
    background-image: url(/assests/remitpluss.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.item3-7{
    background-image: url(/assests/e\ passbook.jpeg);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

.item3 h5{
    justify-content: center;
    position: absolute;
    left:120px;
    top:35px;
}
.utube-play{
    margin-top: 10px;
}
.utube-play iframe{
    width:100%;
    height:500px;
}


body {
    overflow-x:hidden;
}
.after-vdo{
    margin: 50px;
    /* justify-content: center; */
    height: 800px;
}

.after-vdo .p-3{
    background-color: gainsboro;
    height: 600px;
    border-radius: 10px;
}

.p-3 .card-body{
    width:500px;
    height: 200px;
}

.after-vdo img{
    padding-top: 20px;
    width:96%;
    height:350px;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.innews-but{
    width:500px;
    height:50px;
    justify-content: center;
    border-color: white;
    margin:20px;
}
.before-footer{
    justify-content: center;
    /* text-align: center; */
    z-index: 100;
}
.before-footer h1{
    text-align: center;
}
.before-footer p{
    text-align: center;
}

.before-footer-container{
 
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.before-footer-container:hover{
    cursor: pointer;
}
.before-footer-container h5{
    color: blue;
    text-align: right;
    
}
.before-footer-container h4{
    text-align: right;
}
.before-footer-item1{
    width:300px;
    height:100px;
    background-color: white;
    margin:20px;
    background-image: url(/assests/msg\ logo.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.before-footer-item2{
    width:300px;
    height:100px;
    background-color:white;
    margin:20px;
    background-image: url(/assests/locate-logo.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
.before-footer-item3{
    width:300px;
    height:100px;
    background-color:white;
    margin:20px;
    background-image: url(/assests/clock);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

.footer1{
    background-color:rgb(44, 6, 80);
    position: relative;
    width:100%;
    height:300px;
    top:80px;
}
.footer1 .container{
    margin-top: 20px;
    padding: 20px;
    text-align: end;
    height: 70px;
    background-color:rgb(44, 6, 80);
    color: white;
    position: absolute;
    left:-160px;
}
.footer1 .container .col-sm-4{
    text-align: start;
}
.footer1 .container .col-sm-4 .fa-brands{
    width:30px;
    height: 30px;
}
.foot-tble{
    position:absolute;
    top:90px;
}
.foot-tble td:hover{
    cursor: pointer;
    
}
.footer2{
    width:100%;
   background-color: black;
    height:250px;
    position: relative;
    top:75px;
    color: aliceblue;
    text-align: center;
    padding: 20px;;
    
}
.footer2 img{
    position :absolute;
    top:0px;
    left: 0px;
}